@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html{
    background-color: #f1b94065;

}

body {
    font-family: "Shadows Into Light";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo{
    width: 25%;
    align-self: center;
}

#todo-container {
    background: #ffcc6e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px #000000bd;
    width: 25rem;
    text-align: center;
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 0rem;
    border:2px solid black;
    display: flex;
    flex-direction: column;
}

h1 {
    top: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.19) 0%, rgba(9, 9, 121, 0.34) 35%, rgba(214, 128, 30, 0.35) 100%);
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 1rem;
    border: 2px solid black;
}

#todo-input {
    padding: 10px;
    text-align: center;
    width: 11rem;
    margin: auto;
    border-radius: 1rem;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    font-family: "Shadows Into Light";
    font-size: medium;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 12px;
    margin-left: 2rem;
    border: 2px outset black;
    width: 8rem;
    margin: 1rem auto;
    background-color: #fcac00;
 
}

button:hover {
    background-color: rgb(255, 100, 28);
    border: 2px dotted black;
}

#todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    justify-content: space-between;
}

.todo-item.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #d9534f;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    margin: 0;
}

.delete-btn:hover {
    background-color: #c9302c;
}

.button-interval{
    background-color:grey;
}
